body {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;

}

/* navbar edit */

.navbar {

  padding: 0;
  margin-bottom: 1rem;
}

.bg-light {
  background-color: #00968b !important;
  display: flex;

}

.bg-light a {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 2.9rem;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.bg-light i {
  margin-bottom: 5px;
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 50%;
  background-color: #1aa197;
}

.bg-light .logoutbtn {
  margin: 0 auto 0 15rem;
  background: none;
  color: #f2f2f2;
  cursor: pointer;
  align-items: center;
}

.bg-light a:hover {
  background-color: #ef5e4a;
  border-bottom: 4px solid #00968b;
  scale: 1.1;
}

.bg-light a:hover>i {
  background-color: #f16e5c;
}

/* active page navbar a */
.bg-light a.active {
  background-color: #ef5e4a;
  border-bottom: 4px solid #00968b;
  scale: 1.1;
}

/* active */
.bg-light a.active>i {
  background-color: #f16e5c;
}


.title {
  border-left: 2.5px solid #e5533e;
  padding: 3px;
  color: #008c7e;
  margin: 2rem 1rem 1rem 0.7rem;
  font-size: 1.3rem;
  font-weight: bold;
}

/* container dashboard edit */

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


/* containers dashboard edit */

.container .cards {
  width: 100%;
  border-top: 3px solid #ee543f;
  border-right: 0.05px solid#cfcfcf;
  border-bottom: 0.05px solid#cfcfcf;
  border-left: 0.05px solid #cfcfcf;
  background-color: #ffffff;
  font-weight: bold;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #cfcfcf;
  margin: 0.2rem 0.2rem 1rem 1.2rem;

}

/* dashboards card */
.cards i {
  display: block;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  text-align: center;
  color: #00958a;
  padding: 4px;
  border-bottom: 1px solid #cfcfcf;

}

.cards-span {

  padding: 5px 0 20px 10px;
}


.cards-span .span-name {

  color: rgb(9, 105, 105);

}

.page-title {
  border-left: 3px solid #e75c49;
  padding: 4px;
  color: #0c8c8c;
  font-weight: bold;
  float: left;
  margin-left: 10px;
  font-size: 1.5rem;
}

/* table pages edit */

.table-container {

  overflow-x: auto;

}

table {


  border: 0.5px solid rgb(13, 153, 178);
  border-collapse: collapse;
  width: 98%;
  margin-left: 10px;

}

td {
  border: 0.5px solid rgb(5, 122, 142);
  color: #0088a7;
  font-weight: bold;

}

.delete {

  text-align: center;
  cursor: pointer;
}

.delete span {

  display: inline-block;
  background-color: #009688;
  padding: 2px;
  color: white;
}


th {
  border: 0.5px solid rgb(5, 122, 142);
  background-color: #b2dfdb;
  color: #006a6e;
}



/* button add pages  */
.button-container .add-button {
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  margin-left: 9px;
  width: 6.5rem;
  height: 2rem;
  margin-top: 1rem;
  outline: none;
  line-height: normal;
  margin-bottom: 1rem;

}


.add-button i {
  float: left;
}

.add-button:hover {

  border: 1px solid rgb(97, 175, 201);

}

/* Add parent fieldset */
.add-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 1rem 0 0.5rem;
  border: 1px solid #eaedef;
  padding: 1rem;
  display: none;

}

.add-parent legend {

  color: #eb4c54;
  font-weight: bold;
  float: none;
  font-size: 16px;
  width: auto;
  padding: auto;
}

.add-parent label {
  color: #009dae;

}

.add-parent form {
  flex-wrap: wrap;
}

.add-parent .form-group {
  width: 40%;
  display: inline-block;
}

.add-parent .form-control {
  width: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid rgba(207, 205, 205, 0.5);
  box-sizing: border-box;
  height: 2rem;
  outline: none;

}

.add-parent .icon {
  font-size: 5.5rem;
  color: #00968b;
  float: right;
  position: relative;
  bottom: 4rem;
  right: 10px;


}

.add-parent .save-button {
  position: relative;
  float: right;
  right: 0.2rem;
  top: 2.9rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;
  line-height: normal;

}


.add-parent .cancel-button {
  position: relative;
  float: right;
  left: 7rem;
  bottom: 1rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;
  line-height: normal;

}

.add-parent .form-control:focus {

  border: 2px solid rgb(137, 202, 224) !important;
}


/* Add admin fieldset */
.add-admin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #eaedef;
  padding: 1rem;
  display: none;

}

.add-admin legend {

  color: #eb4c54;
  font-weight: bold;
  float: none;
  font-size: 16px;
  width: auto;
  padding: auto;

}

.add-admin label {
  color: #009dae;
  font-weight: bold;
  font-size: 13px;

}

.add-admin form {
  width: 100%;
  flex-wrap: wrap;
}

.add-admin div {
  width: 25%;
  display: inline-block;
}

.add-admin input {

  width: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid rgba(207, 205, 205, 0.5);
  box-sizing: border-box;
  height: 2rem;
  outline: none;

}

.add-admin input:focus {

  border: 2px solid rgb(137, 202, 224);
}

.add-admin .icon {
  font-size: 5rem;
  color: #8f382c;
  float: right;
  position: relative;
  bottom: 7rem;
  right: 12px;
}


.add-admin .save-button {
  float: right;
  position: relative;
  right: 1.8rem;
  bottom: 1.1rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;
}

.add-admin .cancel-button {
  float: right;
  position: relative;
  left: 12.5rem;
  bottom: 1.1rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;
}


/* Add Teacher fieldset */

.add-Teacher {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 1rem 0 0.5rem;
  border: 1px solid #eaedef;
  padding: 1rem;
  display: none;

}

.add-Teacher legend {

  color: #eb4c54;
  font-weight: bold;
  float: none;
  font-size: 16px;
  width: auto;
  padding: auto;
}

.add-Teacher label {
  color: #009dae;
  font-weight: bold;
  font-size: 13px;

}

.add-Teacher form {
  width: 100%;
  flex-wrap: wrap;
}

.add-Teacher .form-group {
  width: 25%;
  display: inline-block;
}

.add-Teacher .form-control {

  width: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid rgba(207, 205, 205, 0.5);
  box-sizing: border-box;
  height: 2rem;
  outline: none;

}

.add-Teacher .form-control:focus {

  border: 2px solid rgb(137, 202, 224);
}

.add-Teacher .icon {
  font-size: 6rem;
  color: #8f382c;
  float: right;
  position: relative;
  bottom: 7.5rem;
  right: 12px;
}


.add-Teacher .save-button {
  float: right;
  position: relative;
  right: 1rem;
  bottom: 1.1rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;

}

.save-button i {

  float: none;
}

.add-Teacher .cancel-button {
  float: right;
  position: relative;
  left: 13.5rem;
  bottom: 1.1rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;
}

/* add Student fieldset */

.add-Student {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 1rem 0 0.5rem;
  border: 1px solid #eaedef;
  padding: 1rem;
  display: none;

}

.add-Student legend {

  color: #eb4c54;
  font-weight: bold;
  float: none;
  font-size: 16px;
  width: auto;
  padding: auto;
}

.add-Student label {
  color: #009dae;
  font-weight: bold;
  font-size: 13px;

}

.add-Student form {
  width: 100%;
  flex-wrap: wrap;
}

.add-Student .form-group {
  width: 30%;
  display: inline-block;
}

.add-Student .form-control {

  width: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid rgba(207, 205, 205, 0.5);
  box-sizing: border-box;
  height: 2rem;
  outline: none;

}

.add-Student .form-control:focus {

  border: 2px solid rgb(137, 202, 224);
}

.add-Student .icon {
  font-size: 6rem;
  color: #8f382c;
  float: right;
  position: relative;
  bottom: 4rem;
  left: 0.4rem;
}


.add-Student .save-button {
  float: right;
  position: relative;
  top: 4rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;

}

.add-Student .cancel-button {
  float: right;
  position: relative;
  left: 13.5rem;
  top: 4rem;
  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  width: 6.5rem;
  height: 2rem;
  outline: none;
}

/* contact us page */

.contact {

  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
}

.contact .cards {
  width: 20%;
  margin: 1rem 1rem 0.1rem 1rem;
  padding: 0 0.2rem 0.2rem 0;

}

.cards span {
  font-weight: bold;
}

.parent-span {

  color: rgb(9, 105, 105);

}

.contact .cards i {
  display: inline-flex;
  font-size: 2rem;
  color: #ed5d49;
  border: 2px solid #1f9e95;
  padding: 8px;

}

.contact-text {

  border-left: 2px solid #e5533e;
  padding: 2px;
  color: #008c7e;
  margin: 0rem 1rem 1rem 0.7rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-us {

  display: inline-block;
}

.contact-us label {
  color: #009dae;
  font-weight: bold;
  font-size: 15px;
  margin-left: 1rem;

}

.contact-us div {
  width: 70%;
  display: inline-flex;

}

.contact-us textarea {

  height: 8rem !important;


}

.contact-us .form-control {

  width: 55%;
  padding: 10px;
  margin: 0 0 1rem 1rem;
  border: 1px solid rgba(207, 205, 205, 0.5);
  box-sizing: border-box;
  height: 2rem;
  outline: none;
}

.contact-us .form-control:focus {

  border: 2px solid rgb(137, 202, 224);
}

.contact-us .btn-primary {

  background-color: #ef5e4a;
  color: white;
  border: 1px solid white;
  margin-left: 9px;
  width: 6.5rem;
  height: 2rem;
  margin-top: 1rem;
  outline: none;


}


/* Footer Editing */
footer {
  background-color: #00968b;
  padding: 1px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}

footer a {
  font-weight: bold;
  color: white !important;
  text-decoration: none;
}

footer .contact-a {

  border-right: 2px solid rgb(255, 255, 255);
  padding: 6px;
  margin-top: 2rem;

}

footer p {

  font-weight: bold;
  color: white;
}

/* Media Screens */

@media only screen and (max-width: 768px) {

  .bg-light a {

    font-size: small;
    flex-direction: row;
    width: 50%;

  }

  .navbar-collapse {

    flex-basis: 4;
    flex-grow: 0;
    padding-top: 1rem;

  }

  .bg-light a>i {
    font-size: small;

  }

  .bg-light .logoutbtn {

    margin: 0;
  }

  /* Dashboard */
  .container {
    justify-content: center;
  }

  .container .cards {
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
  }

  .button-container .add-button {

    margin-bottom: 3rem;
  }

  /* Add parent  */

  .add-parent {

    margin-bottom: 5rem;
  }

  .add-parent .form-group {

    width: 100%;
  }

  .add-parent .icon {

    display: none;
  }



  .add-parent .save-button {
    float: none;
    right: auto;
    top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .add-parent .cancel-button {
    float: none;
    left: auto;
    bottom: 0;
    margin-top: 0.2rem;
    width: 100%;
  }


  /* add Teacher */
  .add-Teacher {

    margin-bottom: 3rem;
  }

  .add-Teacher .icon {
    display: none;

  }

  .add-Teacher .save-button {
    float: none;
    right: auto;
    top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .add-Teacher .cancel-button {
    float: none;
    left: auto;
    bottom: 0;
    width: 100%;
  }

  .add-Teacher .form-group {

    width: 100%;
  }

  /* Add student */


  .add-Student {

    margin-bottom: 3rem;
  }

  .add-Student .icon {
    display: none;

  }

  .add-Student .form-group {

    width: 100%;
  }

  .add-Student .save-button {
    float: none;
    right: auto;
    top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .add-Student .cancel-button {
    float: none;
    left: auto;
    top: 0.2rem;
    margin-top: 0.2rem;
    width: 100%;
  }



  /* Add Admin */

  .add-admin {

    margin-bottom: 5rem;
  }

  .add-admin .form-group {

    width: 100%;
  }

  .add-admin .icon {

    display: none;
  }


  .add-admin .save-button {
    float: none;
    right: auto;
    top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .add-admin .cancel-button {
    float: none;
    left: auto;
    bottom: 0;
    margin-top: 0.2rem;
    width: 100%;
  }

  /* Contact us */
  .contact-us {

    margin-bottom: 4rem;
  }

  .contact-us div {
    width: 100%;
    display: inline-flex;

  }


}