body {
    margin: 0;
    padding: 0;
    
}

.navbar {
    background-color:#00968b;
    display: flex;

}

.navbar a {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 2.9rem;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}


.navbar i {
    margin-bottom: 5px;
    font-size: 1.5rem;
    padding: 12px;
    border-radius: 50%;
    background-color:#1aa197; 
}
    .navbar .logoutbtn {
    margin: 0 1.2rem 0 auto;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
    display: right;
    align-items: center;
}

.navbar a:hover {
    background-color: #ef5e4a;
    border-bottom: 4px solid #00968b;
    scale: 1.1;
}

.navbar a:hover > i {
    background-color: #f16e5c;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

 h3 {
border-left: 3px solid red;
padding: 4px;
color: rgb(9, 105, 105);
margin-left: 1rem;
font-size: 1.5rem;
}

.containers {
    width: 25%;
    height: 5.5rem;
    background-color: #ffffff;
    border-left: 0.05px solid #cfcfcf;
    border-right: 0.05px solid#cfcfcf ;
    border-bottom: 0.05px solid#cfcfcf;
    border-top: 3px solid red;
    box-shadow: 1px 1px 1px 1px #d6d5d5;
    margin: 1rem;
    padding: 1rem;


}

.containers i {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(9, 145, 145);
    padding: 4px;
    border-bottom: 1px solid #cfcfcf; /* Add this line for the border */
 
}


 h2 {
border-left: 3px solid red;
padding: 4px;
color: rgb(9, 105, 105);
float: left;
margin-left: 10px;
}

table {

border: 0.5px solid rgb(13, 153, 178);
border-collapse: collapse;
width: 98%;
margin-left: 10px;

}

td {
border: 0.5px solid rgb(5, 122, 142);
color: #0088a7;
font-weight: bold;

}
th {
border: 0.5px solid rgb(5, 122, 142);
background-color:#b2dfdb;
color: #006a6e;
}

.btnadd {

background-color: #ef5e4a;
color: white;
border: 1px solid white;
margin-left: 9px;
width: 6.5rem;
height: 2rem;
margin-top: 1rem;
outline: none;

}

.btnadd:hover {

    border: 1px solid rgb(97, 175, 201);

}

/* Add parent fieldset */
.add-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #eaedef;
    padding: 1rem;

    
  }
  
  .add-parent label {
    color: #009dae;

  }
  
  .add-parent form {
    width: 100%;
    flex-wrap: wrap;
  }
  
  .add-parent div {
    width: 40%;
    display: inline-block;
  }
  
  .add-parent input {
    width: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid rgba(207, 205, 205, 0.5);
  box-sizing: border-box;
  height: 2rem; 
  outline: none;

  } 

  .add-parent input:focus {

    border: 2px solid rgb(137, 202, 224);
  }

  /* Add admin fieldset */
.add-admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #eaedef;
    padding: 1rem;
  
  }
  
  .add-admin label {
    color: #009dae;
    font-weight: bold;
    font-size: 13px;

  }
  
  .add-admin form {
    width: 100%;
    flex-wrap: wrap;
  }
  
  .add-admin div {
    width: 25%;
    display: inline-block;
  }
  
.add-admin input {

  width: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid rgba(207, 205, 205, 0.5);
  box-sizing: border-box;
  height: 2rem; 
  outline: none;

  } 

  .add-admin input:focus {

    border: 2px solid rgb(137, 202, 224);
  }
   

footer {
    background-color:#00968b;
    padding: 1px;
    text-align: center;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}

footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

