
.navbar {
  position:fixed;
  width: 100%;
   left: 0;
   top: 0;
  background-color: darkcyan;
  display:block;
  }
 
.navbar li {
  list-style: none;
  display: flex;


}
.navbar ul {

  display: flex;
  font-weight: bold;
  color: white;
  float: left;
}
.navbar ul:hover {
  background-color: red;
}
.navbar i {
  font-size: 3rem;
  display:inline;

}
.navbutton {

  float: right;
}
h3 {
  border-left: 2px solid rgb(236, 43, 43);
  color: darkcyan;
padding: 0.5rem;
}
.containers {
  border-top: 2px solid rgb(236, 43, 43);
  width: 25%;
  height: 20%;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: solid 1px rgb(243, 228, 228);

   
}
.containers i {
  font-size: 3rem;
  justify-content: center;
  display: flex;
}
.containers span {
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background-color: darkcyan;
  padding:0.5rem;

}
table {

  border: 0.5px solid rgb(3, 53, 62);

}
td {
  border: 0.5px solid rgb(3, 53, 62);
  color: rgb(0, 0, 0);;
}
th {
  border: 0.5px solid rgb(76, 177, 197);
  background-color: rgb(102, 163, 239);
  color: aquamarine;
}
